{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": false,
  "endOfLine": "auto",
  "jsxBracketSameLine ": false,
  "printWidth": 120,
  "proseWrap": "preserve",
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}