@charset "utf-8";

@import "./_common";

/// reset PC

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
em,
img,
sub,
sup,
address,
cite,
pre,
code,
del,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  line-height: 1;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  overflow: visible;
  appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[data-type="number"] {
  ime-mode: disabled;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  appearance: none;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

select::-ms-expand {
  display: none;
}

[disabled] {
  cursor: default;
}

html {
  overflow-y: scroll;
}

body {
  width: 100%;
  font-display: fallback;
  font-family: 'Noto', 'Arial', serif;
  letter-spacing: -.5px;
  word-break: break-all;
  color: #111;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  color: #2b2b2b;
  font-size: 15px;
}

input,
button,
select,
textarea {
  line-height: 1;
  margin: 0;
  padding: 0;
  border: 0;
  color: #2b2b2b;
  font-size: 16px;
  font-family: inherit;
  color: inherit;
  box-sizing: border-box;
  appearance: none;
  vertical-align: middle;
  border-radius: 0;
  background-color: transparent;
  outline: none;
}

caption,
legend,
hr {
  display: none;
}

em,
address,
i {
  font-style: normal;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

strong,
b {
  font-weight: normal;
  line-height: 1;

  @include BreakWord;
}

p,
span {

  @include BreakWord;
}

label {
  cursor: pointer;
}

input::placeholder {
  color: #c1c1c1;
  line-height: normal;
}

textarea::placeholder {
  color: #c1c1c1;
}

//Noto

@font-face {
  font-family: 'Noto';
  src: 
    url("../fonts/Noto/notokr-light.woff") format("woff"),
    url("../fonts/Noto/notokr-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Noto';
  src:
    url("../fonts/Noto/notokr-regular.woff") format("woff"),
    url("../fonts/Noto/notokr-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto';
  src:
    url("../fonts/Noto/notokr-medium.woff") format("woff"),
    url("../fonts/Noto/notokr-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto';
  src: 
    url("../fonts/Noto/notokr-bold.woff") format("woff"), 
    url("../fonts/Noto/notokr-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

//BM JUA

@font-face {
  font-family: 'Bmjua';
  src: 
    url("../fonts/BMJUA/BMJUA.woff") format("woff"), 
    url("../fonts/BMJUA/BMJUA.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.clear {
  content: "";
  display: block;
  clear: both;
}

.hidden {

  @include Hidden;
}

.align-c {
  text-align: center !important;
}

.align-l {
  text-align: left !important;
}

.align-r {
  text-align: right !important;
}

.valign-b {
  vertical-align: bottom !important;
}

.valign-t {
  vertical-align: top !important;
}

.valign-m {
  vertical-align: middle !important;
}

.margin-a {
  margin-left: auto !important;
  margin-right: auto !important;
}

.txtBold {
  font-weight: 700;
}

.txtNormal {
  font-weight: 400;
}

.texBlack {
  color: #2b2b2b !important;
}

.texRed {
  color: #f04040 !important;
}

.texGreen {
  color: #20bbc4 !important;
}

.texGray {
  color: #b4b8bf !important;
}

.texGray2 {
  color: #999 !important;
}

.texYellow {
  color: #fff456 !important;
}

.pcOnly {
  display: none;
}

.moOnly {
  display: block;
}

//iScroll

.iScrollVerticalScrollbar.iScrollLoneScrollbar {
  right: 8px !important;
  width: 4px !important;
}

.iScrollVerticalScrollbar.iScrollLoneScrollbar .iScrollIndicator {
  background-color: #e1e1e1 !important;
  border: 0 !important;
}

@include ResetStyle($style: "padding", $symbol: "pd");
@include ResetStyle($style: "margin", $symbol: "mg");
@include ResetStyle($style: "margin-top", $symbol: "mt");
@include ResetStyle($style: "margin-bottom", $symbol: "mb");
@include ResetStyle($style: "margin-left", $symbol: "ml");
@include ResetStyle($style: "margin-right", $symbol: "mr");
@include ResetStyle($style: "padding-top", $symbol: "pt");
@include ResetStyle($style: "padding-bottom", $symbol: "pb");
@include ResetStyle($style: "padding-left", $symbol: "pl");
@include ResetStyle($style: "padding-right", $symbol: "pr");